.menu {
	background-color: #ed1c24;
}

.navbar-brand {
    float: left;
    height: 100%;
    padding: 0px 0px;
    line-height: 0px;
}

.navbar-nav li a {
	color: white;
	text-transform: uppercase;
}

.nav {
	padding-top: 15px;
}

.acessados {
	background-color: #ed1c24;
}

.submenu {
	background-color: #242424;
	padding: 0px 0px 0px 0px;
	font-size: 10px;
}
.submenu ul {
	padding-top: 0px;
}

.destaque {
	padding: 0px;
}

.destaque-grande {
	width: 46%;
}

.destaque-pequeno {
	width:27%;
}

.noticias {
	margin-top: 20px;
}

.noticias h3 {
	text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    height: 30px;	
}

.noticias p {
	height: 55px;
}

.noticias a {
	text-transform: uppercase;
	font-weight: bold;
	color: red;
	font-size: 13px;
}

.noticias-primeiro {
	padding-left: 0px;
	width: 24%;
}
.noticias-ultimo {
	padding-right: 0px;
	width: 24%;
}